In [78]:
import pandas as pd
import numpy as np
from sklearn.decomposition import TruncatedSVD
from sklearn.ensemble import RandomForestClassifier

In [2]:
ratingsDF = pd.read_csv('ratings.csv')
ratingsDF

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [3]:
users = ratingsDF['userId'].unique()
users

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610])

In [4]:
moviesDF = pd.read_csv('movies.csv')
moviesDF

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
movies = moviesDF['movieId'].unique()
movies

array([     1,      2,      3, ..., 193585, 193587, 193609])

In [6]:
df = pd.DataFrame(index=users, columns=movies)
df

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
for i in ratingsDF.index:
    userid = ratingsDF.loc[i, 'userId']
    movieid = ratingsDF.loc[i, 'movieId']
    rating = ratingsDF.loc[i, 'rating']
    df.loc[userid, movieid] = rating

In [8]:
df

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
1,4,NaN,4,NaN,NaN,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2,2,NaN,NaN,NaN,NaN,NaN,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.fillna(0, inplace=True)

In [10]:
df

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
svd = TruncatedSVD()

In [12]:
transformed = svd.fit_transform(df)

In [13]:
pd.DataFrame(transformed)

             0          1
0    29.689244 -14.261810
1     3.135065   4.101916
2     0.723193  -0.478437
3    17.294912 -12.539949
4     6.097046  -5.338269
..         ...        ...
605  59.471263 -16.748153
606  20.832512 -11.701351
607  62.053858  -2.737463
608   4.050601  -3.187335
609  74.212156  46.746035

[610 rows x 2 columns]

In [14]:
u, s, v = np.linalg.svd(df, full_matrices=True)

In [15]:
u.shape

(610, 610)

In [16]:
s.shape

(610,)

In [17]:
v.shape

(9742, 9742)

In [18]:
Sigma = np.diag(s)

In [19]:
Sigma.shape

(610, 610)

In [20]:
Sigma = np.zeros((df.shape[0], df.shape[1]))
# populate Sigma with n x n diagonal matrix
Sigma[:df.shape[0], :df.shape[0]] = np.diag(s)
# select
n_elements = 4
Sigma = Sigma[:, :n_elements]
v = v[:n_elements, :]
# reconstruct
B = u.dot(Sigma.dot(v))
print(B)
# transform
T = u.dot(Sigma)
print(T)
T = df.dot(v.T)
print(T)

[[ 2.64825430e+00  1.29924980e+00  8.67703385e-01 ... -6.79030159e-03
  -6.79030159e-03 -9.94861256e-03]
 [ 1.77853143e-01  4.51928469e-02 -1.21417025e-01 ...  2.69163859e-03
   2.69163859e-03  8.20857702e-03]
 [ 3.78658628e-02  2.71550422e-02  2.99416266e-02 ... -2.26887446e-04
  -2.26887446e-04 -7.51300195e-04]
 ...
 [ 4.56955246e+00  3.22891568e+00  1.62510443e+00 ...  1.51237456e-03
   1.51237456e-03  7.94625816e-04]
 [ 9.68819975e-01  6.06450906e-01  2.88830526e-01 ... -2.31607846e-03
  -2.31607846e-03 -2.23252136e-03]
 [ 2.54389324e+00  1.89966448e+00 -1.87656662e-01 ...  3.41435663e-02
   3.41435663e-02  7.49476025e-02]]
[[-29.68924408  14.26125156  -2.08305694   0.14134387]
 [ -3.13506492  -4.10160993  -0.84554714  -2.27377925]
 [ -0.72319333   0.47833901   0.32785688   0.33414389]
 ...
 [-62.05385826   2.73946973  -1.86618823  14.32041227]
 [ -4.05060109   3.18751205  -7.59657324   0.23545121]
 [-74.2121552  -46.75244689  17.71497587   2.82595314]]
             0          1          2          3
1   -29.689244  14.261252  -2.083057   0.141344
2    -3.135065  -4.101610  -0.845547  -2.273779
3    -0.723193   0.478339   0.327857   0.334144
4   -17.294912  12.540074   6.530639  -6.237428
5    -6.097046   5.338321  -9.279336   0.335544
..         ...        ...        ...        ...
606 -59.471263  16.746270  26.625070 -20.333990
607 -20.832512  11.700218  -6.971987  -0.456859
608 -62.053858   2.739470  -1.866188  14.320412
609  -4.050601   3.187512  -7.596573   0.235451
610 -74.212155 -46.752447  17.714976   2.825953

[610 rows x 4 columns]

In [21]:
u.shape

(610, 610)

In [22]:
Sigma.shape

(610, 4)

In [23]:
v.shape

(4, 9742)

In [24]:
u.size

372100

In [25]:
Sigma.size

2440

In [26]:
v.size

38968

In [27]:
B.shape

(610, 9742)

In [28]:
T.shape

(610, 4)

In [29]:
T

             0          1          2          3
1   -29.689244  14.261252  -2.083057   0.141344
2    -3.135065  -4.101610  -0.845547  -2.273779
3    -0.723193   0.478339   0.327857   0.334144
4   -17.294912  12.540074   6.530639  -6.237428
5    -6.097046   5.338321  -9.279336   0.335544
..         ...        ...        ...        ...
606 -59.471263  16.746270  26.625070 -20.333990
607 -20.832512  11.700218  -6.971987  -0.456859
608 -62.053858   2.739470  -1.866188  14.320412
609  -4.050601   3.187512  -7.596573   0.235451
610 -74.212155 -46.752447  17.714976   2.825953

[610 rows x 4 columns]

In [30]:
D = pd.DataFrame(B)

In [31]:
D

,0,1,2,3,4,5,6,7,8,9,...,9732,9733,9734,9735,9736,9737,9738,9739,9740,9741
0,2.648254,1.299250,0.867703,0.087546,0.557020,1.689539,0.757623,0.129375,0.146544,1.845250,...,-0.006790,-0.005820,-0.007760,-0.007760,-0.006790,-0.007760,-0.006790,-0.006790,-0.006790,-0.009949
1,0.177853,0.045193,-0.121417,-0.010924,-0.049941,0.057293,-0.097891,-0.027982,-0.019743,-0.029694,...,0.002692,0.002307,0.003076,0.003076,0.002692,0.003076,0.002692,0.002692,0.002692,0.008209
2,0.037866,0.027155,0.029942,0.001175,0.014346,0.028193,0.021625,0.006833,0.003131,0.031277,...,-0.000227,-0.000194,-0.000259,-0.000259,-0.000227,-0.000259,-0.000227,-0.000227,-0.000227,-0.000751
3,1.062634,0.005150,0.233941,0.018617,0.019328,0.914033,0.231159,-0.008327,0.017788,0.325816,...,-0.005500,-0.004715,-0.006286,-0.006286,-0.005500,-0.006286,-0.005500,-0.005500,-0.005500,-0.006478
4,1.304169,0.790493,0.408599,0.071241,0.367750,0.723661,0.406579,0.054686,0.108661,1.198912,...,-0.003620,-0.003103,-0.004138,-0.004138,-0.003620,-0.004138,-0.003620,-0.003620,-0.003620,-0.004296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.597457,-0.217284,0.119286,-0.049690,-0.312060,2.191699,0.093437,-0.091062,-0.096321,-0.048089,...,-0.002845,-0.002438,-0.003251,-0.003251,-0.002845,-0.003251,-0.002845,-0.002845,-0.002845,0.009773
606,2.338150,1.200222,0.729093,0.094231,0.531459,1.434303,0.674705,0.099477,0.148918,1.781889,...,-0.006229,-0.005339,-0.007119,-0.007119,-0.006229,-0.007119,-0.006229,-0.006229,-0.006229,-0.007961
607,4.569552,3.228916,1.625104,0.093297,1.153533,2.471294,1.209016,0.370468,0.223170,3.317548,...,0.001512,0.001296,0.001728,0.001728,0.001512,0.001728,0.001512,0.001512,0.001512,0.000795
608,0.968820,0.606451,0.288831,0.053212,0.275682,0.519582,0.291631,0.038493,0.080946,0.902969,...,-0.002316,-0.001985,-0.002647,-0.002647,-0.002316,-0.002647,-0.002316,-0.002316,-0.002316,-0.002233
609,2.543893,1.899664,-0.187657,-0.187259,-0.059676,0.918405,-0.528795,0.095531,-0.203419,0.107314,...,0.034144,0.029266,0.039021,0.039021,0.034144,0.039021,0.034144,0.034144,0.034144,0.074948

In [32]:
#For movie id = 6
movie_id = 6
movie_rating = D[movie_id]

In [33]:
movie_rating

0      0.757623
1     -0.097891
2      0.021625
3      0.231159
4      0.406579
         ...
605    0.093437
606    0.674705
607    1.209016
608    0.291631
609   -0.528795
Name: 6, Length: 610, dtype: float64

In [34]:
similar_movies_corr = D.corrwith(movie_rating)

In [35]:
similar_movies_corr
# np.count_nonzero(similar_movies_corr)

0       0.731569
1       0.771044
2       0.977952
3       0.841104
4       0.939190
          ...
9737   -0.546015
9738   -0.546015
9739   -0.546015
9740   -0.546015
9741   -0.613847
Length: 9742, dtype: float64

In [36]:
similar_movies_corr.sort_values(ascending=False, inplace=True)

In [37]:
dd = pd.DataFrame(similar_movies_corr, columns=['corr'])
# similar_movies_corr.iloc[1]

In [38]:
dd.reset_index(inplace=True)

In [39]:
dd.columns = ['movie_index', 'correlation']

In [40]:
dd

      movie_index  correlation
0               6     1.000000
1             406     0.999564
2              21     0.998899
3             235     0.996075
4            3127     0.994502
...           ...          ...
9737         5749          NaN
9738         5824          NaN
9739         5837          NaN
9740         5957          NaN
9741         7565          NaN

[9742 rows x 2 columns]

In [41]:
ind = dd.loc[1, 'movie_index']

In [42]:
moviesDF.loc[ind]

movieId                                                  468
title      Englishman Who Went Up a Hill But Came Down a ...
genres                                        Comedy|Romance
Name: 406, dtype: object

In [43]:
Bd = pd.DataFrame(B)

In [44]:
Bd

,0,1,2,3,4,5,6,7,8,9,...,9732,9733,9734,9735,9736,9737,9738,9739,9740,9741
0,2.648254,1.299250,0.867703,0.087546,0.557020,1.689539,0.757623,0.129375,0.146544,1.845250,...,-0.006790,-0.005820,-0.007760,-0.007760,-0.006790,-0.007760,-0.006790,-0.006790,-0.006790,-0.009949
1,0.177853,0.045193,-0.121417,-0.010924,-0.049941,0.057293,-0.097891,-0.027982,-0.019743,-0.029694,...,0.002692,0.002307,0.003076,0.003076,0.002692,0.003076,0.002692,0.002692,0.002692,0.008209
2,0.037866,0.027155,0.029942,0.001175,0.014346,0.028193,0.021625,0.006833,0.003131,0.031277,...,-0.000227,-0.000194,-0.000259,-0.000259,-0.000227,-0.000259,-0.000227,-0.000227,-0.000227,-0.000751
3,1.062634,0.005150,0.233941,0.018617,0.019328,0.914033,0.231159,-0.008327,0.017788,0.325816,...,-0.005500,-0.004715,-0.006286,-0.006286,-0.005500,-0.006286,-0.005500,-0.005500,-0.005500,-0.006478
4,1.304169,0.790493,0.408599,0.071241,0.367750,0.723661,0.406579,0.054686,0.108661,1.198912,...,-0.003620,-0.003103,-0.004138,-0.004138,-0.003620,-0.004138,-0.003620,-0.003620,-0.003620,-0.004296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.597457,-0.217284,0.119286,-0.049690,-0.312060,2.191699,0.093437,-0.091062,-0.096321,-0.048089,...,-0.002845,-0.002438,-0.003251,-0.003251,-0.002845,-0.003251,-0.002845,-0.002845,-0.002845,0.009773
606,2.338150,1.200222,0.729093,0.094231,0.531459,1.434303,0.674705,0.099477,0.148918,1.781889,...,-0.006229,-0.005339,-0.007119,-0.007119,-0.006229,-0.007119,-0.006229,-0.006229,-0.006229,-0.007961
607,4.569552,3.228916,1.625104,0.093297,1.153533,2.471294,1.209016,0.370468,0.223170,3.317548,...,0.001512,0.001296,0.001728,0.001728,0.001512,0.001728,0.001512,0.001512,0.001512,0.000795
608,0.968820,0.606451,0.288831,0.053212,0.275682,0.519582,0.291631,0.038493,0.080946,0.902969,...,-0.002316,-0.001985,-0.002647,-0.002647,-0.002316,-0.002647,-0.002316,-0.002316,-0.002316,-0.002233
609,2.543893,1.899664,-0.187657,-0.187259,-0.059676,0.918405,-0.528795,0.095531,-0.203419,0.107314,...,0.034144,0.029266,0.039021,0.039021,0.034144,0.039021,0.034144,0.034144,0.034144,0.074948

In [45]:
pd.DataFrame(Bd.values - df.values)

,0,1,2,3,4,5,6,7,8,9,...,9732,9733,9734,9735,9736,9737,9738,9739,9740,9741
0,-1.351746,1.299250,-3.132297,0.087546,0.557020,-2.310461,0.757623,0.129375,0.146544,1.845250,...,-0.006790,-0.005820,-0.007760,-0.007760,-0.006790,-0.007760,-0.006790,-0.006790,-0.006790,-0.009949
1,0.177853,0.045193,-0.121417,-0.010924,-0.049941,0.057293,-0.097891,-0.027982,-0.019743,-0.029694,...,0.002692,0.002307,0.003076,0.003076,0.002692,0.003076,0.002692,0.002692,0.002692,0.008209
2,0.037866,0.027155,0.029942,0.001175,0.014346,0.028193,0.021625,0.006833,0.003131,0.031277,...,-0.000227,-0.000194,-0.000259,-0.000259,-0.000227,-0.000259,-0.000227,-0.000227,-0.000227,-0.000751
3,1.062634,0.005150,0.233941,0.018617,0.019328,0.914033,0.231159,-0.008327,0.017788,0.325816,...,-0.005500,-0.004715,-0.006286,-0.006286,-0.005500,-0.006286,-0.005500,-0.005500,-0.005500,-0.006478
4,-2.695831,0.790493,0.408599,0.071241,0.367750,0.723661,0.406579,0.054686,0.108661,1.198912,...,-0.003620,-0.003103,-0.004138,-0.004138,-0.003620,-0.004138,-0.003620,-0.003620,-0.003620,-0.004296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,0.097457,-0.217284,0.119286,-0.049690,-0.312060,2.191699,-2.406563,-0.091062,-0.096321,-0.048089,...,-0.002845,-0.002438,-0.003251,-0.003251,-0.002845,-0.003251,-0.002845,-0.002845,-0.002845,0.009773
606,-1.661850,1.200222,0.729093,0.094231,0.531459,1.434303,0.674705,0.099477,0.148918,1.781889,...,-0.006229,-0.005339,-0.007119,-0.007119,-0.006229,-0.007119,-0.006229,-0.006229,-0.006229,-0.007961
607,2.069552,1.228916,-0.374896,0.093297,1.153533,2.471294,1.209016,0.370468,0.223170,-0.682452,...,0.001512,0.001296,0.001728,0.001728,0.001512,0.001728,0.001512,0.001512,0.001512,0.000795
608,-2.031180,0.606451,0.288831,0.053212,0.275682,0.519582,0.291631,0.038493,0.080946,-3.097031,...,-0.002316,-0.001985,-0.002647,-0.002647,-0.002316,-0.002647,-0.002316,-0.002316,-0.002316,-0.002233
609,-2.456107,1.899664,-0.187657,-0.187259,-0.059676,-4.081595,-0.528795,0.095531,-0.203419,0.107314,...,0.034144,0.029266,0.039021,0.039021,0.034144,0.039021,0.034144,0.034144,0.034144,0.074948

In [46]:
np.sum((np.square(Bd.values - df.values)) / (df.shape[0]*df.shape[1]))

0.15839427956055524

In [47]:
B

array([[ 2.64825430e+00,  1.29924980e+00,  8.67703385e-01, ...,
        -6.79030159e-03, -6.79030159e-03, -9.94861256e-03],
       [ 1.77853143e-01,  4.51928469e-02, -1.21417025e-01, ...,
         2.69163859e-03,  2.69163859e-03,  8.20857702e-03],
       [ 3.78658628e-02,  2.71550422e-02,  2.99416266e-02, ...,
        -2.26887446e-04, -2.26887446e-04, -7.51300195e-04],
       ...,
       [ 4.56955246e+00,  3.22891568e+00,  1.62510443e+00, ...,
         1.51237456e-03,  1.51237456e-03,  7.94625816e-04],
       [ 9.68819975e-01,  6.06450906e-01,  2.88830526e-01, ...,
        -2.31607846e-03, -2.31607846e-03, -2.23252136e-03],
       [ 2.54389324e+00,  1.89966448e+00, -1.87656662e-01, ...,
         3.41435663e-02,  3.41435663e-02,  7.49476025e-02]])

In [55]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

reader = Reader()
data = Da
data = Dataset.load_from_df(ratingsDF[['userId', 'movieId', 'rating']], reader)

In [58]:
# Use the SVD algorithm.
svd = SVD()
cv = cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
# Compute the RMSE of the SVD algorithm.
# evaluate(svd, data, measures=['RMSE'])

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8712  0.8717  0.8820  0.8705  0.8787  0.8748  0.0047
MAE (testset)     0.6703  0.6722  0.6726  0.6691  0.6742  0.6717  0.0018
Fit time          4.51    4.65    4.64    4.63    4.63    4.61    0.05
Test time         0.12    0.12    0.18    0.18    0.12    0.14    0.03

In [74]:
rmse = cv['test_rmse']
rmse

array([0.87120969, 0.87166236, 0.88203   , 0.87049188, 0.87872488])

In [75]:
avg_rmse = np.mean(rmse)
avg_rmse

0.8748237651751195